<nav class="navbar-pos">
    <div class="navbar-left">
        <span class="navbar-brand">🎂 SmartPOS+</span>
    </div>
    <div class="navbar-right">
        <span class="navbar-user">Admin User</span>
        <span class="navbar-role-badge">Admin</span>
        <a href="/login" class="navbar-logout-btn">Logout</a>
    </div>
</nav>
