@page "/customer/shop"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Customer")]
@layout SmartPOS.Components.Layout.CustomerLayout

<h3>Customer Shop</h3>
<p>Welcome to the shop! This is the customer portal.</p>
