@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

@if (ShowRequestId)
{
    <p class="error-meta">@RequestId</p>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
